/*Definição de fontes*/
@font-face {
    font-family: "Raleway";
    src: url("../fontes/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fontes/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
}

/*Estilo Desktop*/
body {
    background-color: black;
    color: white;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-size: 64px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

h1 span {
    color: #7C3AED;
}

a {
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #7C3AED;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto 40px;

}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px) {

    /*Estilo Tablet*/
    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }
}


@media(max-width: 375px) {

    /*Estilo Mobile*/
    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        width: 340px;
        font-size: 20px;
    }

    a {
        width: 251px;
        font-size: 20px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}